#burger {
  width: 100px;
  height: 100px;
  background-color: lime;
  font-size: 2rem;
  text-align: center;
}

#visBurgerIgen {
  display: none;
  background-color: red;
  font-size: 2rem;
  width: 100px;
  height: 50px;
  text-align: center;
}

#burgerNav {
  display: none;
}
