@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

/*font-family: 'Manbow'
  font-family: 'Oswald'
  font-family: 'Losta Masta'

*/

:root {
  /* farver */
  --pink: #db68a4;
  --lightpink: #cd85a6;   /* */
  --lightgreypink: #bc9aa1; /* */
  --greygreen: #a8a994; /* */
  --lightgreen: #90b480;/* */
  --green: #70b967;
  --black: #000000;
  --white: #ffffff;

  /* fonte */
  --heading:'Racing Sans One', cursive;
  --text: 'Arial Narrow';
}


  html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: Oswald;
    font-weight: 200;
  }

h1{
  font-family: Losta Masta;
}

h2{
  font-family: Losta Masta;
  font-weight: lighter;
}

.logo{
  width: 120px;
  margin-left: 40%;
  margin-top: 1%;
}


/*Navbar start*/
  /*Dropdown/ menubar*/
.dropbtn{
  width: 60px;
}

.dropdown-content {
  display: none;
  background-color: #f9f9f9;
  min-width: 100%;
  text-align: center;
}

.dropdown-content a {
  color: black;
  padding: 16px;
  text-decoration: none;
  display: block;
  font-size: 20px;
}


#booktable{
  background-color: var(--green);
  border-radius: 50%;
}

.show {display:block;}

/*Navbar slut*/



.backgroundimageindex{
  width: 100%;
}

.backgroundimagetext{
  font-size: 20px;
  margin-left: 10px;
  margin-top: -40px;
  color: var(--white);
}

.wrapcenter{
  text-align: center;
}

.headername{
  margin-left: 40px;
}

.menuoftheday{
  margin-left: 40px;
}

.menuofthedaybutton{
  background-color: var(--lightgreen);
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
}

.menuofthedaybutton:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.qouteOfTheDay{
  text-align: center;
}


.subheadname{
  margin-left: 40px;
}

/*Article section*/
.articles img{
  width: 50%;
  height: 50%;
}

/*Article section 1 */
.articlessection{
  display: flex;
  flex-direction: row;
}

.sectionbackground1{
  background-color: var(--greygreen);
  padding-left: 10%;
  padding-right: 10%;
}

.sectionbackground2{
  background-color: var(--lightgreen);
  padding-left: 10%;
  padding-right: 10%;
}

.sectionbackground3{
  background-color: var(--green);
  padding-left: 10%;
  padding-right: 10%;
}


#workers{
  list-style-type: none;
}



/*FOOTER*/
.footsegment{
  text-align: center;
  background-color: var(--green);
}



/*Mediarules*/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

.dropdown{
  margin-top: -80px;
}

.dropdown-content{
  margin-top: 20px;
  position: absolute;
}

.backgroundimageindex{
  margin-top: 5%;
}

.articlessection{
  display: flex;
  flex-direction: column;
}

.articles img{
  width: 100%;
}

canvas{
  width: 700px;
  margin-left: 2%;
}

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

.dropdown{
  margin-top: -80px;
}

.backgroundimageindex{
  margin-top: 5%;
}

.dropdown-content{
  margin-top: 20px;
  position: absolute;
}

.backgroundimagetext{
  font-size: 30px;
  margin-top: -70px;
}


}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

.headwidth{
  width: 93%;
}

.dropdown-content{
  display: flex;
  justify-content: center;
  background-color: white;
  margin-left: 65px;
  margin-top: -20px;
  position: unset;
}

.dropbtn{
  display: none;
}

.dropdown-content a {
  color: black;
  padding: 16px;
  text-decoration: none;
  display: block;
  font-size: 20px;
  text-transform: uppercase;
  display: inline-block;
  padding: 15px 20px;
  position: relative;
}

.dropdown-content a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: var(--green);
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.dropdown-content a:hover:after {
  width: 100%;
  left: 0;
}

.logo{
  margin-left: 10px;
}

.backgroundimageindex{
  margin-top: 2%;
}

.backgroundimagetext{
  font-size: 40px;
  margin-top: -90px;
}

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

.backgroundimagetext{
  font-size: 50px;
  margin-top: -110px;
}

.dropdown-content a {
  font-size: 25px;
}

.dropdown-content{
  display: flex;
  justify-content: space-evenly;
  position: unset;
}

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

.backgroundimagetext{
  font-size: 70px;
  margin-top: -150px;
}

}
